@{
    ViewData["Title"] = "About Us";
}

<h1>About us</h1>



<div class="text-center">
    <h1 class="display-4">No 1 Company in Country</h1>
    <h2>Buy best speakers at best rate.</h2>
    <img src="~/img/img4.jpg" alt="Paris" width="300" height="300">
    <p>We established in 1978. We won many awards for quality and safty.</p>
    <img src="~/img/img2.jpg" alt="Paris" width="300" height="300">
    <br />
    <p>Check Speaker list by tap on "List of Speakers" on navigation</p>
    <p>Order your spear by tap on "Order" on navagtion</p>
    <img src="~/img/img1.jpg" alt="Paris" width="300" height="300">
    <p>No 1 quality and no 1 at sale.<br /> we are always taking review nd feedback of customers.</p>
    <img src="~/img/img3.jpg" alt="Paris" width="300" height="300">
</div>
