@{
    ViewData["Title"] = "Audio Speakers";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Buy best speakers at best rate.</h2>
    <img src="~/img/img1.jpg" alt="Paris" width="300" height="300">
    <img src="~/img/img2.jpg" alt="Paris" width="300" height="300">
    <br />
    <h3>Check Speaker list by tap on "List of Speakers" on navigation</h3>
    <h4>Order your spear by tap on "Order" on navagtion</h4>
    <img src="~/img/img3.jpg" alt="Paris" width="300" height="300">
    <img src="~/img/img4.jpg" alt="Paris" width="300" height="300">
</div>
