@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>



<form asp-controller="Speakers" asp-action="Index">
    <p>
        Title: <input type="text" name="title" /><br/>
        quentity: <input type="text" name="quentity" />
        <input type="submit" value="Submit order" />
    </p>
</form>
